1. Write a Python program to sum all the items in a list.

In [ ]:
list1 = [22,33,66,88]
list2 = sum(list1)
print(list2)

209

2. Write a Python program to get the largest number from a list.

In [ ]:
list1= [22,88,22,66,99]
list1.sort()
print("The largest numer is: ",list1[-1])

The largest numer is:  99

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [ ]:
def count_strings(strings):
  count = 0
  for s in strings:
    if len(s)>=2 and s[0]==s[-1]:
      count += 1
  return count
sample_list = ['abc', 'xyz', 'aba', '1221']
result = count_strings(sample_list)
print(result)

2

4. Write a Python program to remove duplicates from a list.

In [ ]:
list1= [1,3,2,1,6]
temp=[]
[temp.append(x) for x in list1 if x not in temp]
print(temp)

[1, 3, 2, 6]

5. Write a Python program to check if a list is empty or not.

In [1]:
list1 = []
if list1!=[]:
  print("The list is not empty")
else:
  print("The list is empty")

The list is empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [ ]:
def filter_list(input_list,length):
  filtered_list = [item for item in input_list if len(item)<length]
  return filtered_list

sample_list = ['abc', 'xyz', 'aba', '1221']

result = filter_list(sample_list,4)
print(result)

['abc', 'xyz', 'aba']

7.Write a Python program to find the second largest number in a list.

In [ ]:
list1= [22,88,44,99,77]
list1.sort()
print("The largest number is: ",list1[-2])

The largest number is:  88

8. Write a Python program to reverse a list at a specific location.

In [2]:
loc=2
l=[1,4,4,87,8,6]
l1=l[:2]
l2=l[2:]
l2.reverse()
result=l1+l2
print(result)

[1, 4, 6, 8, 87, 4]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
string = input("Enter the word: ")
if(string==string[::-1]):
  print("true palindrome")
else:
  print("false palindrome")

Enter the word: mom
true palindrome

10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
def list_union(list1,list2):
  union_list = list(set(list1+list2))
  return union_list

def list_intersection(list1,list2):
  intersection_list = [value for value in list1 if value in list2]
  return intersection_list

list1 = [1,2,3,4,4,8,9]
list2 = [2,4,15,7,9,4,2]

print(list_union(list1,list2))
print(list_intersection(list1,list2))

[1, 2, 3, 4, 7, 8, 9, 15]
[2, 4, 4, 9]

11.Write a Python script to sort (ascending and descending) a dictionary by value

\\12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
def check_key_exists(dictionary,key):
  return key in dictionary

sample_dict = {'a':1,
               'b':2,
               'c':3,
               'd':4,
               'e':5}
key_exists = input("Enter your key: ")

if check_key_exists(sample_dict, key_exists):
  print("does exist")
else:
  print("does not exist")

Enter your key: u
does not exist

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
my_dict = {'a':10,
           'b':30,
           'c':40}
result = sum(my_dict.values())
print(result)

80

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [ ]:
def square_number(n):
  if n < 10:
    square_dict = {i: i**2 for i in range(1,n+1)}
    return square_dict
  else:
    print("The number should be less than 10")

input_number = int(input("Enter the number: "))

result = square_number(input_number)
print(result)

Enter the number: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

15.Write a Python program to sort a given dictionary by key.

In [ ]:
my_dict = {'b':10,
           'a':30,
           'c':40}
result = sorted(my_dict.keys())
print(result)

['a', 'b', 'c']



```
# This is formatted as code
```

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [ ]:
def create_letter_count_dict(input_string):
  letter_count_dict = {}
  for char in input_string:
    letter_count_dict[char] = letter_count_dict.get(char,0)+1
  return letter_count_dict

sample_string = "learnpython"

result = create_letter_count_dict(sample_string)

print(result)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```